body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.navbar{
  background:linear-gradient(to right, #51a8f5 0%, #4dd6dd 100%);
  margin-bottom: 10vh;
}
.navbar-brand {
  color: #000000;
  font-weight: bold;
  font-size: 1rem;
}
.navbar-nav {
  color: #000000;
  font-size: 1.2rem;
  margin-left: 60vh;
}
.nav-item{
  margin-right: 2rem;

}
.nav-link:hover{
  font-weight: bold;
  padding-bottom: 1vh;
  border-bottom: 2px solid #000000;
}
.text-center{
  text-align: center;
  color: #ffffff;
  font-size: 2rem;
  margin-top: 3vh;
  font-weight: bold;
}
.form-control{
  border-radius: 0.5rem;
  border: 1px solid #ced4da;
  font-size: 1rem;
  width: 100%;
  margin-left: 10vh;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  width: 40%;
  height: 75vh;
  background-color: #0000005f;
  margin-top: 20vh;
  border-radius: 2vh;

}
.form-label{
  font-size: 1.2rem;
  color: #ffffff;
  /* margin-bottom: 10vh; */
  width: 25vh;
}
.form-control{
  width: 35vh;
  height: 6vh;
  /* margin-bottom: 2vh; */
  font-size: 1.2rem;
  color: #ffffff;
}
.mb-3{
  display: flex;
  flex-direction: row;
  margin-top: 6vh;
}
.btn-primary{
  margin-bottom: 5vh;
  margin-top: 3vh;
}
.mt-3{
  margin-top: 3vh;
  color: white;
}
.mt4{
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
}